<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AlgorithmDemo.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <AlgorithmDemo.Properties.Settings>
            <setting name="PositionSetToGetConvexHullColor" serializeAs="String">
                <value>GreenYellow</value>
            </setting>
            <setting name="ConvexHullPositionSetInSpecificLevelColor" serializeAs="String">
                <value>Red</value>
            </setting>
            <setting name="LinePositionSetInSpecificLevelColor" serializeAs="String">
                <value>255, 128, 128</value>
            </setting>
            <setting name="ChildPositionSetInSpecificLevelOfConvexHullColor"
                serializeAs="String">
                <value>255, 0, 128</value>
            </setting>
            <setting name="RealConvexHullColor" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="BottonLevelPositionSetColor" serializeAs="String">
                <value>Yellow</value>
            </setting>
        </AlgorithmDemo.Properties.Settings>
    </userSettings>
</configuration>